<Navbar [leftContent]="'回退'"
        (onLeftClick)="back()"
        [rightContent]="rightContent">店铺详情</Navbar>
<ng-template #rightContent>
    <span (click)="orderFood()">点餐</span>
</ng-template>
<div *ngIf="!orderStatus">
    <List renderHeader="店铺信息">
        <Card>
            <CardHeader [title]="market.marketName"
                        [thumb]="market.marketLocationPics[0].imageUrl"
                        [thumbStyle]="thumbStyle"
                        [extra]="extra"
            >
                <ng-template #extra>
                <span>店铺地址: {{market.marketAddress}}</span>
                </ng-template>
            </CardHeader>
            <CardBody>
                <div>店铺详情: {{market.marketDetail}}</div>
                <div style="overflow:scroll;white-space:nowrap;">
                    <img *ngFor="let item of market.marketLocationPics" [src]="item.imageUrl" class="market-photo" />
                </div>
            </CardBody>
            <CardFooter [content]="''" [extra]="footerExtra">
                <ng-template #footerExtra>
                <div>联系电话: {{market.marketPhone}}</div>
                </ng-template>
            </CardFooter>
        </Card>
    </List>
    <List renderHeader="产品列表">
        <ListItem
            *ngFor="let item of market.products"
            [arrow]="'horizontal'"
            [thumb]="item.productPics[0].imageUrl"
            multipleLine
            (onClick)="clickProduct(market)">{{item.productName}} —— ¥{{item.productPrice}}
            <Brief>{{item.category.categoryName}} : {{item.productDetail}}</Brief>
        </ListItem>
    </List>      
</div>
<div *ngIf="orderStatus">
    <Menu 
        class="multi-foo-menu"
        [data]="simpleMenu"
        [multiSelect]="true"
        [level]="1"
        (onOk)="onOk($event)"
        (onCancel)="onCancel()"
        [height]="menuHeight">
    </Menu>
    <!-- <div style="width: 100% ;height: 200px; display: flex; justify-content: center; align-items: center">
        <ActivityIndicator [size]="'large'"></ActivityIndicator>
    </div> -->
    <div class="menu-mask3" (click)="onMaskClick()"></div>
</div>