<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title" (click)="back()">[ 退回上一页 ]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">编号：</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">{{market.marketId}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">店名：</label>
                <div class="col-md-10">
                    <input type="text" name="marketName" class="form-control" [(ngModel)]="market.marketName" placeholder="请输入店名...">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">地址：</label>
                <div class="col-md-10">
                    <input type="text" name="marketAddress" class="form-control" [(ngModel)]="market.marketAddress" placeholder="请输入地址...">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">电话：</label>
                <div class="col-md-10">
                    <input type="text" name="marketPhone" class="form-control" [(ngModel)]="market.marketPhone" placeholder="请输入电话...">
                </div>
            </div>
        </div>
    </div>

    <div class="row c-mt15">
        <div class="col-md-12">
            <p class="c-line-title">详情信息</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">详情：</label>
                <div class="col-md-10">
                    <input type="text" name="marketDetail" class="form-control" [(ngModel)]="market.marketDetail" placeholder="请输入详情...">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">状态</label>
                <div class="col-md-10">
                    <p class="form-control-plaintext">{{market.isdelete===0?'正常营业':'已关闭'}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">营业执照：</label>
                <div class="col-md-10">
                    <img *ngFor="let img of market.marketInfoPics" [src]="img.imageUrl" [hidden]="img.isdelete" style="width:150px;height:150px;border:1px solid black;margin:5px;display:inline;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">门店照片：</label>
                <div class="col-md-10">
                    <img *ngFor="let img of market.marketLocationPics" [src]="img.imageUrl" [hidden]="img.isdelete" style="width:150px;height:150px;border:1px solid black;margin:5px;display:inline;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-10 col-2">
            <button style="width: 100%;background: #1185d0;color: white;" class="btn c-not-shadow" (click)="edit();">编辑店铺</button>
        </div>
    </div>
</div>