<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title" (click)="back()">[ 退回上一页 ]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">品名：</label>
                <div class="col-md-10">
                    <input type="text" name="productName" class="form-control" [(ngModel)]="product.productName" placeholder="请输入菜品名...">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">详情：</label>
                <div class="col-md-10">
                    <input type="text" name="productDetail" class="form-control" [(ngModel)]="product.productDetail" placeholder="请输入菜品详情...">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">价格：</label>
                <div class="col-md-10">
                    <input type="text" name="productPrice" class="form-control" [(ngModel)]="product.productPrice" placeholder="请输入菜品价格...">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">类别：</label>
                <div class="col-md-10">
                    <select class="form-control" [(ngModel)]="product.categoryId">
                        <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.categoryName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">图片：</label>
                <div class="col-md-4">
                    <img src="{{product.productPics[0].imageUrl}}" style="width:100px;height:100px;border:1px solid black;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-10 col-2">
            <button style="width: 100%;background: #1185d0;color: white;" class="btn c-not-shadow" (click)="edit();">编辑菜品</button>
        </div>
    </div>
</div>