<Tabs [useOnPan]="true"
          [swipeable]="true"
          [activeTab]="index"
          [page]="3"
          [tabBarActiveTextColor]="'#1890ff'"
          (onChange)="onChange($event)"
          (onTabClick)="onTabClick($event)">
  <TabPane [title]="titleTemplate">
    <ng-template #titleTemplate>
      <Badge>
        <div>入驻商家</div>
      </Badge>
    </ng-template>
  </TabPane>
  <TabPane [title]="titleTemplate1">
    <ng-template #titleTemplate1>
      <Badge>
        <div>历史订单</div>
      </Badge>
    </ng-template>
  </TabPane>
  <TabPane [title]="titleTemplate2">
    <ng-template #titleTemplate2>
      <Badge [dot]="true">
        <div>我的</div>
      </Badge>
    </ng-template>
  </TabPane>
</Tabs>
<router-outlet></router-outlet>