.top {
    height: 2vh;
    width: 100%;
    background: cadetblue
}

.center-background {
    background-color:cornflowerblue;
    height: 98vh;
    padding: 2%;
}

.login-style {
    color: aliceblue;
    font-size: 1.3rem;
}

.login-form {
    background: white;
    padding: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    font-size: 1.1rem;
}

.photo-style {
    margin-top: 20vw;
    margin-left: 35vw;
    width: 25vw;
    height: 25vw;
}
