<div class="c-content-inner">
    <div class="row">
        <div class="col-md-12">
            <p class="c-line-title">系统所有用户</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center c-w-1">编号</th>
                        <th class="text-center c-w-1">姓名</th>
                        <th class="text-center c-w-1">密码</th>
                        <th class="text-center c-w-2">手机</th>
                        <th class="text-center c-w-2">地址</th>
                        <th class="text-center c-w-1">性别</th>
                        <th class="text-center c-w-1">角色</th>
                        <th class="text-center c-w-1">状态</th>
                        <th class="text-center c-w-2">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList;let i = index">
                        <td class="text-center">{{user.userId}}</td>
                        <td class="text-center">{{user.userName}}</td>
                        <td class="text-center">{{user.password}}</td>
                        <td class="text-center">{{user.userPhone}}</td>
                        <td class="text-center">{{user.userAddress}}</td>
                        <td class="text-center">{{user.userSex===0?'女':'男'}}</td>
                        <td class="text-center">{{user.role===0?'用户':'管理员'}}</td>
                        <td class="text-center">{{user.isdelete===0?'存在':'已删除'}}</td>
                        <td class="text-center">
                            <button class="btn btn-success btn-sm" (click)="editUser(user,index)"><i class="fa fa-pencil fa-fw"></i> 编辑</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteUser(user,index)"><i class="fa fa-trash-o fa-fw"></i> 删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>