<div>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link">全部菜系</a>
      </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['./productmaglist']">东北菜</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./productmaglist']">粤菜</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./productmaglist']">西北菜</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['./productmaglist']">江浙菜</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['./productmaglist']">异国料理</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['./productmaglist']">其他菜系开发中</a>
    </li>
  </ul>
</div>
<!-- 菜单列表 -->
<router-outlet></router-outlet>